# _config.yml

title: abdoul.net
description: ""

url: "https://abdoul.net"
baseurl: ""

theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - .gitignore

minima:
  skin: auto
