# _config.yml
title: abdoul.net
description: Etudiant • Test • SAE
url: "https://picbille.github.io"
baseurl: ""

theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - README.md
